@using MovieTicket.Web.Repositories.Queries.ADONet.MovieQueries

@model MovieTicket.Web.Models.ViewModels.CinemaVM.ReadCinemaVM

@inject CinemaMoviesDataProvider cinemasQuery;

@{
    ViewData["Title"] = "Cinema Details";
}

<head>
    <link href="@Url.Content("~/css/Cinemas/details.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container cinema-details-container border">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="cinema-card">
                    <div class="cinema-card-header">
                        <h5 class="title">@Model.Name</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="@Model.Logo" alt="@Model.Logo">
                        </div>
                        <div class="col-md-8">
                            <div class="cinema-card-body">
                                <p class="card-text">@Model.Description</p>
                                <p class="card-text  ">
                                    <b>Movies: </b>
                                    <div class="movie-list d-flex">
                                        @foreach (var movie in cinemasQuery.GetMoviesByCinemaId(Model.Id, 5))
                                        {
                                            <div class="movie-profile ">
                                                <img src="@movie.PictureUrl" />
                                                <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Name</a>
                                            </div>
                                        }
                                    </div>
                                    <div>
                                        <a class="toggle-collapse" data-bs-toggle="collapse" href="#actorsCollapse" role="button" aria-expanded="false" aria-controls="actorsCollapse">
                                            <i class="bi bi-caret-down-fill"></i> Show All
                                        </a>
                                        <div class="collapse" id="actorsCollapse">
                                            <div class="list d-flex flex-wrap mt-2">
                                                @foreach (var movie in cinemasQuery.GetMoviesByCinemaId(Model.Id, 100))
                                                {
                                                    <div class="movie-profile">
                                                        <img src="@movie.PictureUrl" />
                                                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Name</a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </p>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Cinemas/details.js"></script>
</body>



