@model List<MovieTicket.Web.Models.ViewModels.CinemaVM.ReadCinemaVM>

<head>
    <link href="@Url.Content("~/css/Cinemas/userIndex.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="main-title" style="padding-bottom:10px;">
            <h1>Cinemas</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var cinema in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <a asp-controller="Cinemas" asp-action="MoviesByCinema" asp-route-id="@cinema.Id"><img src="@cinema.Logo" class="card-img-top" alt="@cinema.Name"></a>
                        <div class="card-header">
                            <h5 class="text-center">@cinema.Name</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@cinema.Description</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="~/js/Cinemas/userIndex.js"></script>
</body>
