@using MovieTicket.Web.Repositories.Queries.ADONet.MovieQueries



@model MovieTicket.Web.Models.ViewModels.ProducerVM.ReadProducerVM

@inject ProducerMoviesDataProvider producerQuery;

@{
    ViewData["Title"] = "Producer Details";
}

<head>
    <link href="@Url.Content("~/css/Producers/details.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container producer-details-container border">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="producer-card">
                    <div class="producer-card-header">
                        <h5 class="title">@Model.FirstName @Model.LastName</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="@Model.PictureUrl" alt="@Model.FirstName">
                        </div>
                        <div class="col-md-8">
                            <div class="producer-card-body">
                                <p class="card-text"><strong>Bio: </strong>@Model.Bio</p>
                                <p class="card-text"><b>BirthDate: </b>@Model.BirthDate.ToString("dd MMM yy")</p>
                                <p class="card-text  ">
                                    <b>Movies: </b>
                                    <div class="movie-list d-flex">
                                        @foreach (var movie in producerQuery.GetMoviesByProducerId(@Model.Id, 3))
                                        {
                                            <div class="movie-profile">
                                                <img src="@movie.PictureUrl" />
                                                <a asp-controller="Actors" asp-action="Details" asp-route-id="@movie.Id">@movie.Name</a>
                                            </div>
                                        }
                                    </div>

                                    <div>
                                        <a class="toggle-collapse" data-bs-toggle="collapse" href="#actorsCollapse" role="button" aria-expanded="false" aria-controls="actorsCollapse">
                                            <i class="bi bi-caret-down-fill"></i> Show All
                                        </a>
                                        <div class="collapse" id="actorsCollapse">
                                            <div class="list d-flex flex-wrap mt-2">
                                                @foreach (var actor in producerQuery.GetMoviesByProducerId(Model.Id, 100))
                                                {
                                                    <div class="movie-profile">
                                                        <img src="@actor.PictureUrl" />
                                                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@actor.Id">@actor.Name</a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </p>
                                
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Producers/details.js"></script>
</body>