@model List<MovieTicket.Web.Models.ViewModels.ProducerVM.ReadProducerVM>

@{
    ViewData["Navbar"] = true;
    ViewData["Title"] = "Producer List";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}

@if (TempData["Failed"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Failed"]
    </div>
}

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="@Url.Content("~/css/Producers/index.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container mt-4">
        <h4 class="pb-3">Producers</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Actor Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Birth Date</th>
                        <th>Bio</th>
                        <th>CreatedAt</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @* <td><input type="checkbox" /></td> *@
                            <td>@item.Id</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.BirthDate</td>
                            <td>@item.Bio</td>
                            <td>@item.CreatedAt</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm" style="margin-right:0.3rem;">Details</a>
                                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning btn-sm" style="margin-right:0.3rem;">Update</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <script src="~/js/Producers/index.js"></script>
</body>

@await Html.PartialAsync("_CreateItem", "Producers")