 @model Movie

@* @{
    ViewData["Title"] = "Movie details";
} *@

<head>
    <link href="@Url.Content("~/css/Movies/details.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container movie-details-container border">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="movie-card">
                    <div class="movie-card-header">
                        <h5 class="title">@Model.Name</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="@Model.PictureUrl" alt="@Model.Name">
                        </div>
                        <div class="col-md-8">
                            <div class="movie-card-body">
                                <p class="card-text">@Model.Description</p>
                                <p class="card-text">
                                    <b>Cinema: </b>
                                    <a asp-controller="Cinema" asp-action="Details" asp-route-id="@Model.CinemaId">
                                        @Model.Cinema.Name
                                    </a>
                                </p>
                                <p class="card-text">
                                    <b>Actors: </b>
                                    <div class="actor-list d-flex">
                                        @foreach (var actor in Model.MoviesProducers)
                                        {
                                            <div class="actor-profile ">
                                                <img src="@actor.Producer.PictureUrl" />
                                                <a asp-controller="Actor" asp-action="Details" asp-route-id="@actor.Producer.Id">@actor.Producer.FullName()</a>
                                            </div>
                                        }
                                    </div>
                                </p>
                                <p class="card-text">
                                    <b>Actors: </b>
                                    <div class="actor-list  d-flex">
                                        @foreach (var actor in Model.MoviesCategories)
                                        {
                                            <div class="actor-profile">
                                                <img src="@actor.Category.PictureUrl" />
                                                <a asp-controller="Actor" asp-action="Details" asp-route-id="@actor.Category.Id">@actor.Category.Name</a>
                                            </div>
                                        }
                                    </div>
                                </p>
                                <p class="card-text"><b>Start Date: </b>@Model.StartDate.ToString("dd MMM yy")</p>
                                <p class="card-text"><b>End Date: </b>@Model.EndDate.ToString("dd MMM yy")</p>
                                <p class="card-text">
                                    <b>Status: </b>
                                    @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                                    {
                                        <span class="badge bg-success text-white">AVAILABLE</span>
                                    }
                                    else if (DateTime.Now > Model.EndDate)
                                    {
                                        <span class="badge bg-danger text-white">EXPIRED</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-primary text-white">UPCOMING</span>
                                    }
                                </p>
                                <p class="card-text">
                                    <b>Actors: </b>
                                    <div class="actor-list d-flex">
                                        @foreach (var actor in Model.MoviesActors)
                                        {
                                            <div class="actor-profile">
                                                <img src="@actor.Actor.PictureUrl" />
                                                <a asp-controller="Actor" asp-action="Details" asp-route-id="@actor.ActorId">Tom Hardy</a>
                                            </div>
                                        }
                                    </div>
                                </p>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="movie-card-footer">
                        <a class="btn btn-outline-primary btn-custom" asp-action="Index">
                            Back to List
                        </a>
                        <a class="btn btn-success btn-custom @((DateTime.Now > Model.EndDate) ? "btn-disabled" : "")"
                           asp-controller="Orders"
                           asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                            <i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Movies/details.js"></script>
</body>
                        