@using MovieTicket.Web.Repositories.IRepository
@using MovieTicket.Web.Repositories.Queries.ADONet.ActorQueries
@using MovieTicket.Web.Repositories.Queries.ADONet.CategoryQueries
@using MovieTicket.Web.Repositories.Queries.ADONet.ProducerQueries
@model MovieTicket.Web.Models.ViewModels.MovieVM.ReadMovieVM

@inject MovieActorsDataProvider actorsQuery;
@inject MovieCategoriesDataProvider categoriesQuery;
@inject MovieProducersDataProvider producersQuery;
@inject ICinemaRepository cinemaRepository;

@{
    ViewData["Title"] = "Movie Details";
}

<head>
    <link href="@Url.Content("~/css/Movies/details.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container movie-details-container border">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="movie-card">
                    <div class="movie-card-header">
                        <h5 class="title">@Model.Name</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="@Model.PictureUrl" alt="@Model.Name">
                            <div class="mt-1 d-flex justify-content-between">
                                <p>• @Model.PublishYear</p>
                                <p>• @(Math.Floor(Model.Length / 60.0) + "h " + (@Model.Length % 60) + "m")</p>
                                <p>• @Model.Rating.ToString("0.0")</p>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div class="movie-card-body">
                                <p class="card-text"><strong>Description: </strong>@Model.Description</p>


                                <p class="card-text">
                                    <b>Cinema: </b>
                                    <div class="list d-flex">
                                        <div class="profile ">
                                            <img src="@cinemaRepository.GetAsync(c => c.Id == @Model.CinemaId).GetAwaiter().GetResult().Logo" />
                                            <a asp-controller="Cinemas" asp-action="Details" asp-route-id="@Model.CinemaId">@cinemaRepository.GetAsync(i => i.Id == Model.CinemaId).GetAwaiter().GetResult().Name</a>
                                        </div>
                                    </div>
                                </p>


                                <p class="card-text">
                                    <b>Categories: </b>
                                    <div class="list d-flex">
                                        @foreach (var category in categoriesQuery.GetCategoriesByMovieId(@Model.Id, 5, "MYSQL"))
                                        {
                                            <div class="profile">
                                                <img src="@category.PictureUrl" />
                                                <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id">@category.Name</a>
                                            </div>
                                        }
                                    </div>

                                    <div>
                                        <a class="toggle-collapse" data-bs-toggle="collapse" href="#categoriesCollapse" role="button" aria-expanded="false" aria-controls="categoriesCollapse">
                                            <i class="bi bi-caret-down-fill"></i> Show All
                                        </a>
                                        <div class="collapse" id="categoriesCollapse">
                                            <div class="list d-flex flex-wrap mt-2">
                                                @foreach (var category in categoriesQuery.GetCategoriesByMovieId(@Model.Id, 100, "MYSQL"))
                                                {
                                                    <div class="profile">
                                                        <img src="@category.PictureUrl" />
                                                        <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id">@category.Name</a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </p>

                                <p class="card-text">
                                    <b>Producers: </b>
                                    <div class="list d-flex">
                                        @foreach (var producer in producersQuery.GetProducersByMovieId(@Model.Id, 5))
                                        {
                                            <div class="profile">
                                                <img src="@producer.PictureUrl" />
                                                <a asp-controller="Producers" asp-action="Details" asp-route-id="@producer.Id">@producer.FirstName @producer.LastName</a>
                                            </div>
                                        }
                                    </div>

                                    <div>
                                        <a class="toggle-collapse" data-bs-toggle="collapse" href="#producersCollapse" role="button" aria-expanded="false" aria-controls="producersCollapse">
                                            <i class="bi bi-caret-down-fill"></i> Show All
                                        </a>
                                        <div class="collapse" id="producersCollapse">
                                            <div class="list d-flex flex-wrap mt-2">
                                                @foreach (var producer in producersQuery.GetProducersByMovieId(@Model.Id, 100))
                                                {
                                                    <div class="profile">
                                                        <img src="@producer.PictureUrl" />
                                                        <a asp-controller="Producers" asp-action="Details" asp-route-id="@producer.Id">@producer.FirstName @producer.LastName</a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </p>

                                <p class="card-text">
                                    <b>Actors: </b>
                                    <div class="list d-flex">
                                        @foreach (var actor in actorsQuery.GetActorsByMovieId(Model.Id, 5))
                                        {
                                            <div class="profile ">
                                                <img src="@actor.PictureUrl" />
                                                <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.Id">@actor.FirstName @actor.LastName</a>
                                            </div>
                                        }
                                    </div>


                                    <div>
                                        <a class="toggle-collapse" data-bs-toggle="collapse" href="#actorsCollapse" role="button" aria-expanded="false" aria-controls="actorsCollapse">
                                            <i class="bi bi-caret-down-fill"></i> Show All
                                        </a>
                                        <div class="collapse" id="actorsCollapse">
                                            <div class="list d-flex flex-wrap mt-2">
                                                @foreach (var actor in actorsQuery.GetActorsByMovieId(Model.Id, 100))
                                                {
                                                    <div class="profile">
                                                        <img src="@actor.PictureUrl" />
                                                        <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.Id">@actor.FirstName @actor.LastName</a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </p>

                                <p class="card-text"><b>Start Date: </b>@Model.StartDate.ToString("dd MMM yy")</p>
                                <p class="card-text"><b>End Date: </b>@Model.EndDate.ToString("dd MMM yy")</p>
                                <p class="card-text">
                                    <b>Status: </b>
                                    @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                                    {
                                        <span class="badge bg-success text-white">AVAILABLE</span>
                                    }
                                    else if (DateTime.Now > Model.EndDate)
                                    {
                                        <span class="badge bg-danger text-white">EXPIRED</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-primary text-white">UPCOMING</span>
                                    }
                                </p>

                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="movie-card-footer">
                        <a class="btn btn-outline-primary btn-custom" asp-action="UserIndex">
                            Back to List
                        </a>
                        <a class="btn btn-success btn-custom @((DateTime.Now > Model.EndDate) ? "disabled" : "")"
                           asp-controller="Orders"
                           asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                            <i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Movies/details.js"></script>
</body>